body{
	user-select: none;
	background-image: url("background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* La chevre */
#goat{
	width: 70vw;	
	z-index: 10;
	box-shadow: 0px 0px 20px black, 0px 0px 20px black;
	border-radius: 50%;
}

@keyframes cerclelumineux{
	0%{
		box-shadow: 0px 0px 20px black, 0px 0px 20px black;
	}
	
	50%{
		box-shadow: 0px 0px 20px yellow, 0px 0px 20px yellow;
	}
	
	100%{
		box-shadow: 0px 0px 20px black, 0px 0px 20px black;
	}
}

